apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  # TODO: Update with your ArgoCD URL
  # Required for SSO redirects
  # url: https://argocd.<your-domain>

  # Disable anonymous + built-in admin once SSO is verified
  # users.anonymous.enabled: "false"
  # admin.enabled: "false"

  # Your existing setting
  kustomize.buildOptions: --enable-helm

  # TODO: update with your Cognito OIDC settings
  # oidc.config: |
  #   name: cognito
  #   issuer: https://cognito-idp.<region>.amazonaws.com/<user-pool-id>
  #   clientID: <client-id>
  #   clientSecret: $cognito-client-secret   # from argocd-secret
  #   requestedScopes:
  #     - openid
  #     - profile
  #     - email
  #   requestedIDTokenClaims:
  #     groups:
  #       essential: true
  #   # Optional: logout redirect
  #   logoutURL: https://<your-cognito-domain>/logout

  # Add custom CSS
  ui.cssurl: "./custom/styles.css"

  ui.bannercontent: "UNCLASSIFIED"
  ui.bannerurl: "" # no link needed, or could link to classification policy
  ui.bannerpermanent: "true"
  ui.bannerposition: "top" # show banner on top of UI
